//These make code blocks appear or disappear according to media queries.

//Appears on smaller screens
.flex-col{
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;

	&--hides{
		display:none;

		@include respond(sm-1) { // width < 1200?
			display:flex; //1 rem = 9px, 9/16 = 50%
		}
        
	}

}

//Disappears on smaller screens
.flex{
	display:flex;
	flex-wrap:wrap;

	&--hides{
		

		@include respond(sm-1) { 
			display:none; 
		}
    
		
	}
}