<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link th:href="@{/css/styles_principal.css}" rel="stylesheet" />

<title>Error</title>
</head>

<body>
	<div th:insert="navbar.html :: nav"></div>
	<div class="main-content">
		<div class="main-content-inner ml-5 mr-5">

			<h1 class="large-header">Error</h1>
			
			<p class="mb-2">Sorry, we were unable to recognise the subscription you selected. Please select a subscription from the upgrade page.</p>
			<a class="btn btn--primary" href='/upgrade'>Select a subscription</a> 
			

		</div>
	</div>
</body>
</html>



