<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link th:href="@{/css/styles_principal.css}" rel="stylesheet" />

	<title>Manage data</title>
</head>

<body>
	<div th:insert="navbar_admin.html :: nav"></div>
	<div class="main-content">
		<div class="main-content-inner ml-5 mr-5">

			<h1 class="large-header large-header--article">Manage Data</h1>

			<div class="basic-container">

				<form method="post" th:action="@{/admin/uploadlessonplan/A1}" enctype="multipart/form-data"
					class="form__outline" id="addA1">
					<h2 class="basic-header">Upload A1 lesson plan</h2>
					<p th:text="${messagelessonplansuccessA1}" th:if="${messagelessonplansuccessA1 ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagelessonplanfailureA1}" th:if="${messagelessonplanfailureA1 ne null}"
						class="basic-msg basic-msg--alert"></p>
					
					<div class="form__group form__group--file">
						<input type="file" name="file" class="form-control-file">
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"><button type="submit" class="btn btn--info">Upload</button></div>	
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"></div>	
					</div>

				</form>

				<form method="post" th:action="@{/admin/uploadlessonplan/A2}" enctype="multipart/form-data"
					class="form__outline" id="addA2">
					<h2 class="basic-header">Upload A2 lesson plan</h2>
					<p th:text="${messagelessonplansuccessA2}" th:if="${messagelessonplansuccessA2 ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagelessonplanfailureA2}" th:if="${messagelessonplanfailureA2 ne null}"
						class="basic-msg basic-msg--alert"></p>		

					<div class="form__group form__group--file">
						<input type="file" name="file">
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"><button type="submit" class="btn btn--info">Upload</button></div>	
						
					</div>


				</form>



				<form method="post" th:action="@{/admin/uploadlessonplan/B1}" enctype="multipart/form-data"
					class="form__outline" id="addB1">
					<h2 class="basic-header">Upload B1 lesson plan</h2>
					<p th:text="${messagelessonplansuccessB1}" th:if="${messagelessonplansuccessB1 ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagelessonplanfailureB1}" th:if="${messagelessonplanfailureB1 ne null}"
						class="basic-msg basic-msg--alert"></p>
					<div class="form__group form__group--file">
						<input type="file" name="file">
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"><button type="submit" class="btn btn--info">Upload</button></div>	
						
					</div>
				</form>




				<form method="post" th:action="@{/admin/uploadlessonplan/B2}" enctype="multipart/form-data"
					class="form__outline" id="addB2">
					<h2 class="basic-header">Upload B2 lesson plan</h2>
					<p th:text="${messagelessonplansuccessB2}" th:if="${messagelessonplansuccessB2 ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagelessonplanfailureB2}" th:if="${messagelessonplanfailureB2 ne null}"
						class="basic-msg basic-msg--alert"></p>				
					<div class="form__group form__group--file">
						<input type="file" name="file">
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"><button type="submit" class="btn btn--info">Upload</button></div>	
						
					</div>
				</form>




				<form method="post" th:action="@{/admin/uploadlessonplan/B2PLUS}" enctype="multipart/form-data"
					class="form__outline" id="addB2PLUS">
					<h2 class="basic-header">Upload B2+ lesson plan</h2>
					<p th:text="${messagelessonplansuccessB2PLUS}" th:if="${messagelessonplansuccessB2PLUS ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagelessonplanfailureB2PLUS}" th:if="${messagelessonplanfailureB2PLUS ne null}"
						class="basic-msg basic-msg--alert"></p>				
					<div class="form__group form__group--file">
						<input type="file" name="file">
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"><button type="submit" class="btn btn--info">Upload</button></div>	
						
					</div>
				</form>




				<form method="post" th:action="@{/admin/uploadlessonplan/C1}" enctype="multipart/form-data"
					class="form__outline" id="addC1">
					<h2 class="basic-header">Upload C1 lesson plan</h2>
					<p th:text="${messagelessonplansuccessC1}" th:if="${messagelessonplansuccessC1 ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagelessonplanfailureC1}" th:if="${messagelessonplanfailureC1 ne null}"
						class="basic-msg basic-msg--alert"></p>				
					<div class="form__group form__group--file">
						<input type="file" name="file">
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"><button type="submit" class="btn btn--info">Upload</button></div>	
						
					</div>
				</form>




				<form method="post" th:action="@{/admin/uploadlessonplan/C1PLUS}" enctype="multipart/form-data"
					class="form__outline" id="addC1PLUS">
					<h2 class="basic-header">Upload C1+ lesson plan</h2>
					<p th:text="${messagelessonplansuccessC1PLUS}" th:if="${messagelessonplansuccessC1PLUS ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagelessonplanfailureC1PLUS}" th:if="${messagelessonplanfailureC1PLUS ne null}"
						class="basic-msg basic-msg--alert"></p>		

					<div class="form__group form__group--file">
						<input type="file" name="file">
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"><button type="submit" class="btn btn--info">Upload</button></div>	
						
					</div>
				</form>




				<form method="post" th:action="@{/admin/uploadlessonplan/C2}" enctype="multipart/form-data"
					class="form__outline" id="addC2">
					<h2 class="basic-header">Upload C2 lesson plan</h2>
					<p th:text="${messagelessonplansuccessC2}" th:if="${messagelessonplansuccessC2 ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagelessonplanfailureC2}" th:if="${messagelessonplanfailureC2 ne null}"
						class="basic-msg basic-msg--alert"></p>			
					<div class="form__group form__group--file">
						<input type="file" name="file">
						<div class="gutter-top-1 gutter-top-1--only-sm1-screen"><button type="submit" class="btn btn--info">Upload</button></div>	
						
					</div>
				</form>


				<form method="post" th:action="@{/admin/uploadpicture}" enctype="multipart/form-data"
					class="form__outline" id="addPic">
					<h2 class="basic-header mb-1">Upload picture</h2>
					<p class="mb-2"><small>[Max file size: 1MB]</small></p>
					<p th:text="${messagepicturesuccess}" th:if="${messagepicturesuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagepicturefailure}" th:if="${messagepicturefailure ne null}"
						class="basic-msg basic-msg--alert">
					</p>
					<div class="form__group">
						<input type="file" name="file" class="form-control-file">
					</div>
					<button type="submit" class="btn btn--info">Upload picture</button>
				</form>


				<form method="post" th:action="@{/admin/uploadtopic}" class="form__outline" id="addTopic">
					<h2 class="basic-header">Upload topic</h2>
					<p th:text="${messagetopicsuccess}" th:if="${messagetopicsuccess ne null}"
						class="basic-msg basic-msg--success">
					</p>
					<p th:text="${messagetopicfailure}" th:if="${messagetopicfailure ne null}"
						class="basic-msg basic-msg--alert"></p>
					<div class="form__group">
						<input type="text" name="topic">
					</div>
					<button type="submit" class="btn btn--info">Add Topic</button>
				</form>



				<form method="post" th:action="@{/admin/uploadtag}" class="form__outline" id="addTag">
					<h2 class="basic-header">Upload tag</h2>
					<p th:text="${messagetagsuccess}" th:if="${messagetagsuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagetagfailure}" th:if="${messagetagfailure ne null}" class="basic-msg basic-msg--alert">
					</p>
					<div class="form__group">
						<input type="text" name="tag">
					</div>
					<button type="submit" class="btn btn--info">Add Tag</button>
				</form>



				<form method="post" th:action="@{/admin/uploadgrammar}" class="form__outline" id="addGrammar">
					<h2 class="basic-header">Upload grammar point</h2>
					<p th:text="${messagegrammarsuccess}" th:if="${messagegrammarsuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagegrammarfailure}" th:if="${messagegrammarfailure ne null}"
						class="basic-msg basic-msg--alert">
					</p>
					<div class="form__group">
						<input type="text" name="grammar">
					</div>
					<button type="submit" class="btn btn--info">Add Grammar</button>
				</form>



				<form method="post" th:action="@{/admin/edittopic}" class="form__outline" id="editTopic">
					<h2 class="basic-header">Edit topic</h2>
					<p th:text="${messagetopiceditsuccess}" th:if="${messagetopiceditsuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagetopiceditfailure}" th:if="${messagetopiceditfailure ne null}"
						class="basic-msg basic-msg--alert"></p>
					<div class="form__stack form__stack--h-med form__stack--w-med">
						<div class="form__inline-label form__inline-label--med">
							<label for="topic">Topic</label>
							<select name="topicToEdit" id="topic">
								<option th:each="top : ${topics}" th:value="${top.id}" th:text="${top.name}">Topic name
								</option>
							</select>
						</div>

						<div class="form__inline-label form__inline-label--med"><label for="editedTopic">Edited
								topic</label><input type="text" name="editedtopic" id="editedTopic" value=""></div>
						<div class="center-flex mt-1"><input type="submit" value="Submit"></div>
					</div>
				</form>



				<form method="post" th:action="@{/admin/edittag}" class="form__outline" id="editTag">
					<h2 class="basic-header">Edit tag</h2>
					<p th:text="${messagetageditsuccess}" th:if="${messagetageditsuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagetageditfailure}" th:if="${messagetageditfailure ne null}"
						class="basic-msg basic-msg--alert">
					</p>
					<div class="form__stack form__stack--h-med form__stack--w-med">
						<div class="form__inline-label form__inline-label--med">
							<label for="tag">Tag</label>
							<select name="tagToEdit" id="tag">
								<option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}">Tag name
								</option>
							</select>
						</div>
						<div class="form__inline-label form__inline-label--med"><label for="editedTag">Edited
								tag</label><input type="text" name="editedtag" value="" id="editedTag"></div>
						<div class="center-flex mt-1"><input type="submit" value="Submit" id="editedTag"></div>
					</div>
				</form>



				<form method="post" th:action="@{/admin/editgrammar}" class="form__outline" id="editGrammar">
					<h2 class="basic-header">Edit grammar point</h2>
					<p th:text="${messagegrammareditsuccess}" th:if="${messagegrammareditsuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagegrammareditfailure}" th:if="${messagegrammareditfailure ne null}"
						class="basic-msg basic-msg--alert"></p>
					<div class="form__stack form__stack--h-med form__stack--w-med">
						<div class="form__inline-label form__inline-label--med">
							<label for="grammarPoint">Grammar</label>
							<select name="grammarToEdit" id="grammarPoint">
								<option th:each="g : ${grammar}" th:value="${g.id}" th:text="${g.grammarPoint}">Grammar
									point
								</option>
							</select>
						</div>
						<div class="form__inline-label form__inline-label--med"><label for="editedGrammarPoint">Edited
								grammar</label><input type="text" name="editedgrammar" value="" id="editedGrammarPoint">
						</div>
						<div class="center-flex mt-1"><input type="submit" value="Submit"></div>
					</div>
				</form>



				<form method="post" th:action="@{/admin/deletetopic}" class="form__outline" id="deleteTopic">
					<h2 class="basic-header">Delete topic</h2>
					<p th:text="${messagetopicdeletesuccess}" th:if="${messagetopicdeletesuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagetopicdeletefailure}" th:if="${messagetopicdeletefailure ne null}"
						class="basic-msg basic-msg--alert"></p>
					<div class="form__stack form__stack--h-med form__stack--w-med">
						<div class="form__inline-label form__inline-label--sm">
							<label for="topicToDelete">Topic</label>
							<select name="topicToDelete" id="topicToDelete">
								<option th:each="top : ${topics}" th:value="${top.id}" th:text="${top.name}">Topic name
								</option>
							</select>
						</div>
						<div class="center-flex mt-1"><input type="submit" value="Delete"></div>
					</div>
				</form>



				<form method="post" th:action="@{/admin/deletetag}" class="form__outline" id="deleteTag">
					<h2 class="basic-header">Delete tag</h2>
					<p th:text="${messagetagdeletesuccess}" th:if="${messagetagdeletesuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagetagdeletefailure}" th:if="${messagetagdeletefailure ne null}"
						class="basic-msg basic-msg--alert"></p>			
					<div class="form__stack form__stack--h-med form__stack--w-med">
						<div class="form__inline-label form__inline-label--sm">
							<label for="tagToDelete">Tag</label>
							<select name="tagToDelete" id="tagToDelete">
								<option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}">Tag name
								</option>
							</select>
						</div>
						<div class="center-flex mt-1"><input type="submit" value="Delete"></div>
					</div>
				</form>



				<form method="post" th:action="@{/admin/deletegrammar}" class="form__outline" id="deleteGrammar">
					<h2 class="basic-header">Delete grammar point</h2>
					<p th:text="${messagegrammardeletesuccess}" th:if="${messagegrammardeletesuccess ne null}"
						class="basic-msg basic-msg--success"></p>
					<p th:text="${messagegrammardeletefailure}" th:if="${messagegrammardeletefailure ne null}"
						class="basic-msg basic-msg--alert"></p>
					<div class="form__stack form__stack--h-med form__stack--w-med">
						<div class="form__inline-label form__inline-label--med">
							<label for="grammarToDelete">Grammar</label>
							<select name="grammarToDelete" id="grammarToDelete">
								<option th:each="g : ${grammar}" th:value="${g.id}" th:text="${g.grammarPoint}">Grammar
									point
								</option>
							</select>
						</div>
						<div class="center-flex mt-1"><input type="submit" value="Delete"></div>
					</div>
				</form>


				<form method="post" th:action="@{/admin/downloaddeletedlessonplan}" class="form__outline" id="download">
					<h2 class="basic-header">Download deleted lesson plan</h2>
					<div class="form__stack form__stack--h-med form__stack--w-med">
						<div class="form__inline-label form__inline-label--med">
							<label for="lpToDownload">Lesson plan</label>
							<select name="lessonPlanToDownload" id="lpToDownload">
								<option th:each="dlp : ${deletedLessonPlans}" th:value="${dlp.filename}"
									th:text="${dlp.filename}">
									Filename</option>
							</select>
						</div>
						<div class="center-flex mt-1 form__stack--h-med form__stack--w-med"><input type="submit" value="Submit"></div>
					</div>
				</form>


			</div>

		</div>
	</div>
</body>

</html>