<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link th:href="@{/css/styles_principal.css}" rel="stylesheet" />
	<script>
		function updatePicture(id) {
			let select = document.getElementById('picture');
			let name = select.options[select.selectedIndex].getAttribute('name');
			document.getElementById("picturePreview").src = name;
		}

	</script>

	<title th:text="${editLessonPlan} ? 'Edit Lesson Plan' : 'Add Lesson Plan'">Edit lesson plan</title>
</head>

<body onload="updatePicture()">
	<div th:insert="navbar_admin.html :: nav"></div>
	<div class="main-content">
		<div class="main-content-inner ml-5 mr-5">

			<h1 class="large-header large-header--article"  th:text="${editLessonPlan} ? 'Edit Lesson Plan' : 'Add Lesson Plan'">Edit lesson plan</h1>
			
			<ul class="alert mb-1 list-plain" th:if="${error}">
				<li th:text="${error}"></li>
			</ul>
			<ul class="alert mb-1 list-plain" th:if="${errorList}" th:each="err: ${errorList}">
				<li th:text="${err}"></li>
			</ul>
			<p class="success mb-1" th:if="${success}" th:text="${success}"></p>
			


			<form action="/admin" method="post" th:if="${showExisitngLessons}">
				<div class="form__group">
					<div class="form__header">Lesson Plan</div>


					<select name="lessonPlan" onchange='if(this.value != -1) { this.form.submit(); }'>
						<option value="-1">Select a lesson plan</option>
						<option th:each="lp : ${lessonPlans}" th:value="${lp.id}"
							th:text="|${lp.title } - ${lp.id } - ${lp.assignedSubscription.name }|"></option>
					</select> <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				</div>
			</form>


			<form th:action="@{/admin/edit}" th:object="${lessonPlan}" method="post">

				<div class="form__group">
					<div class="form__header">Title</div>
					<input type="text" th:field="*{title}" />
				</div>

<!-- 	<div class="form__group">
					<div class="form__header">Picture</div>
					<input type="text" th:field="*{picture}" />
				</div> -->
			

 				<div class="form__group">
					<div class="form__header">Picture</div>
					<select name="picture" id="picture" th:field="*{picture}" onchange="updatePicture();">
						<option th:each="picture : ${allPictures}" th:value="${picture.id}" th:text="${picture.name}"
							th:name="${picture.fileLocation}">Picture</option>
					</select>
				</div>  
				

				<div class="mb-1">
					<img id="picturePreview" th:src="*{picture?.FileLocation}" />
				</div>
				





				<div class="form__group form__group--mega-menu">
					<div class="form__header">Type</div>

					<span th:each="typ : ${T(com.enoch.chris.lessonplanwebsite.entity.Type).values()}"
						th:field="*{type}"> <label th:for="${#ids.next('type')}" th:text="${typ.type}">General</label> <input
							type="radio" th:field="*{type}" th:value="${typ}">
					</span>

				</div>

				<div class="form__group form__group--mega-menu">
					<div class="form__header">Topics</div>
					<span th:each="top : ${allTopics}"> <label th:for="${#ids.next('topics')}"
							th:text="${top.name}">Heating</label>
						<input type="checkbox" th:field="*{topics}" th:value="${top.id}" />

					</span>
				</div>

				<div class="form__group form__group--mega-menu">
					<div class="form__header">Tags</div>
					<span th:each="tag : ${allTags}"> <label th:for="${#ids.next('tags')}"
							th:text="${tag.name}">Heating</label>
						<input type="checkbox" th:field="*{tags}" th:value="${tag.id}" />
					</span>
				</div>

				<!--    <span th:each="tag : ${allSubscriptions}">
					  	  <label th:for="${#ids.next('assignedSubscriptions')}" 
					           th:text="${tag.name}">Heating</label>
					    <input type="checkbox" th:field="*{assignedSubscription}" th:value="${tag.id}" /> 
						</span>
					</div>    -->


				<div class="form__group form__group--mega-menu">
					<div class="form__header">Levels</div>
					<span th:each="sub : ${allSubscriptions}" th:field="*{assignedSubscription}"> <label
							th:for="${#ids.next('assignedSubscription')}" th:text="${sub.displayName}">General</label>
						<input type="radio" th:field="*{assignedSubscription}" th:value="${sub.id}">
					</span>
				</div>

				<div class="form__group form__group--mega-menu">
					<div class="form__header">Grammar</div>
					<span th:each="g : ${allGrammar}"> <label th:for="${#ids.next('grammar')}"
							th:text="${g.grammarPoint}">Heating</label>
						<input type="checkbox" th:field="*{grammar}" th:value="${g.id}" />
					</span>
				</div>

				<div class="form__group form__group--mega-menu">
					<div class="form__header">Lesson Time</div>

					<span th:each="dur : ${T(com.enoch.chris.lessonplanwebsite.entity.LessonTime).values()}"
						th:field="*{lessonTime}"> <label th:for="${#ids.next('lessonTime')}"
							th:text="${dur}">General</label>
						<input type="radio" th:field="*{lessonTime}" th:value="${dur}">
					</span>

				</div>

				<div class="form__group form__group--mega-menu">
					<div class="form__header">Skill</div>

					<label th:for="${#ids.next('vocabulary')}">Vocabulary</label> <input type="checkbox"
						th:field="*{vocabulary}" /> <label th:for="${#ids.next('listening')}">Listening</label> <input
						type="checkbox" th:field="*{listening}" /> <label
						th:for="${#ids.next('reading')}">Reading</label> <input type="checkbox" th:field="*{reading}" />
					<label th:for="${#ids.next('writing')}">Writing</label> <input type="checkbox"
						th:field="*{writing}" />

				</div>

				<div class="form__group form__group--mega-menu">
					<div class="form__header">Lesson Content</div>

					<label th:for="${#ids.next('video')}">Video</label> <input type="checkbox" th:field="*{video}" />
					<label th:for="${#ids.next('song')}">Song</label> <input type="checkbox" th:field="*{song}" />
					<label th:for="${#ids.next('funClass')}">Just
						for fun</label> <input type="checkbox" th:field="*{funClass}" /> <label
						th:for="${#ids.next('games')}">Games</label> <input type="checkbox" th:field="*{games}" />
					<label th:for="${#ids.next('jigsaw')}">Jigsaw</label> <input type="checkbox" th:field="*{jigsaw}" />
					<label th:for="${#ids.next('translation')}">Translation</label> <input type="checkbox"
						th:field="*{translation}" />

				</div>

				<div class="form__group form__group--mega-menu">
					<div class="form__header">Speaking</div>

					<label th:for="${#ids.next('speakingAmount')}">Speaking
						Only</label> <input type="checkbox" th:field="*{speakingAmount}" th:value="SPEAKING_ONLY">

				</div>

				<div class="form__group form__group--mega-menu">
					<div class="form__header">Resources</div>

					<label th:for="${#ids.next('noPrintedMaterialsNeeded')}">No
						printed materials needed</label> <input type="checkbox"
						th:field="*{noPrintedMaterialsNeeded}" />

				</div>

				 <input type="hidden"
					th:field="*{preparationTime}" id="preparationTime">
					
					 <input type="hidden"
					th:field="*{id}" id="id">
					
					 <input type="hidden"
					th:field="*{dateAdded}" id="dateAdded">

				<input th:if="${showExisitngLessons == null}" type="hidden" name="addlessonplan" value="true"> 
				
				<button class="btn btn--med btn--info" type="submit" name="save">Submit</button>

			</form>
		</div>



	</div>
	
</body>

</html>