<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link th:href="@{/css/styles_principal.css}" rel="stylesheet" />
<script>
function addChecked() {     	
	let checkboxesToCheck = "[[${checkboxesToCheck}]]";
	
	if (checkboxesToCheck){
		checkboxesToCheck = checkboxesToCheck.slice(1, checkboxesToCheck.length -1 );
    	checkboxesToCheck = checkboxesToCheck.split(',');	
    	checkboxesToCheck.forEach(element => console.log(element));
    	
    	//loop over and add checkbox          	
    		console.log(checkboxesToCheck.length)
    		console.log("hello");
    		checkboxesToCheck.forEach(element => {	
        		element = element.trim();
        		if (document.getElementById(element)){	
            		document.getElementById(element).checked = true
        		}
        	
        	});
	}
}
</script>

<title>Admin page</title>
</head>

<body onload="addChecked()">
	<div th:insert="navbar.html :: nav"></div>
	<div class="main-content">
		<div class="main-content-inner ml-5 mr-5">

			<h1 class="large-header" >Admin page</h1>
			
			<form action="/admin" method="post" >
			 <div class="form-group form-vertical-blocks">
                        <div class="form-header">LessonPlans</div>
                        
                        
                        <select name = "lessonPlan" >
						    <option th:each="lp : ${lessonPlans}" th:value="${lp.id}" th:text="|${lp.title } - ${lp.id } - ${lp.assignedSubscription.name }|"></option>
						</select>
						
						   <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input
                        type="submit" value="Submit">
						                 
                   
                        
                        
            		</div>
			</form>
			
			
			
			<div>
			<h2 th:text="${lessonPlans.get(0).title}"></h2>
			 <form action="/admin/edit" method="post" >


                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Type</div>
                        <label for="general">General</label>
                        <input type="radio" id="GENERAL" name="type" value="general">

                        <label for="business">Business</label>
                        <input type="radio" id="BUSINESS" name="type" value="business">
                    
                    
                   		
                        <div class="form-header ml-4	">Preparation time</div>
                        <label for="fiveminutespreparationtime"> 5 minutes</label>
                        <input type="radio" id="5" name="preparationtime" value="5">

                        <label for="tenminutespreparationtime"> 10 minutes </label>
                        <input type="radio" id="10" name="preparationtime" value="10">
                    </div>
                
                    
 					<div class="form-header">Topics</div>
                    <div class="form-group form-vertical-blocks">
                        
						<span th:each="t : ${topics}">
                        <label th:text="${t.name}"></label>
                        <input type="checkbox" th:id="${t.name}" name="topics" th:value="${t.name}">
                        </span>
                    </div>
                    
                    <div class="form-header">Tags</div>
                    <div class="form-group form-vertical-blocks">
                        
						<span th:each="t : ${tags}">
                        <label th:text="${t.name}"></label>
                        <input type="checkbox" th:id="${t.name}" name="tags" th:value="${t.name}">
                        </span>
                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Level</div>

                        <label for="A1">A1</label>
                        <input type="radio" id="A1" name="subscription"  value="A1">

                        <label for="A2">A2</label>
                        <input type="radio" id="A2" name="subscription" value="A2">

                        <label for="B1">B1</label>
                        <input type="radio" id="B1" name="subscription" value="B1">

                        <label for="B2">B2</label>
                        <input type="radio" id="B2" name="subscription" value="B2">

                        <label for="B2+">B2+</label>
                        <input type="radio" id="B2+" name="subscription" value="B2+">

                        <label for="C1">C1</label>
                        <input type="radio" id="C1" name="subscription" value="C1">

                        <label for="C1+">C1+</label>
                        <input type="radio" id="C1+" name="subscription" value="C1+">

                        <label for="C2">C2</label>
                        <input type="radio" id="C2" name="subscription" value="C2">
                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Grammar</div>
                        
                        <span th:each="g : ${grammar}">
                                             
                        <label th:text="${g.grammarPoint}"></label>
                        <input type="checkbox" th:id="${g.grammarPoint}"  name="grammar" th:value="${g.grammarPoint}">
                        
                        </span>
            		</div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Lesson Duration</div>
                        <label for="60">60 minutes</label>
                        <input type="radio" id="SIXTY" name="lessontime" value="60">


                        <label for="90">1 hour 30 minutes</label>
                        <input type="radio" id="NINETY" name="lessontime" value="90">

                        <label for="120">2 hours</label>
                        <input type="radio" id="ONE_HUNDRED_TWENTY" name="lessontime" value="120">
                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Skill</div>

                        <label for="vocabulary">
                            Vocabulary</label>
                        <input type="checkbox" id="vocabulary" name="vocabulary" value="vocabulary">

                        <label for="listening">
                            Listening</label>
                        <input type="checkbox" id="listening" name="listening" value="listening">

                        <label for="reading"> Reading</label>
                        <input type="checkbox" id="reading" name="reading" value="reading">

                        <label for="writing"> Writing</label>
                        <input type="checkbox" id="writing" name="writing" value="writing">
                        
                                                    <small>[All lessons include speaking]</small>

                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Lesson Content</div>

                        <label for="video"> Video</label>
                        <input type="checkbox" id="video" name="video" value="video">

                        <label for="song"> Song</label>
                        <input type="checkbox" id="song" name="song" value="song">

                        <label for="funClass"> Just for
                            fun</label>
                        <input type="checkbox" id="funClass" name="funclass" value="funclass">

                        <label for="games">Games</label>
                        <input type="checkbox" id="games" name="games" value="games">


                        <label for="jigsaw"> Jigsaw</label>
                        <input type="checkbox" id="jigsaw" name="jigsaw" value="jigsaw">

                        <label for="translation">
                            Translation</label>              

                        <input type="checkbox" id="translation" name="translation" value="translation">

                    </div>

                    <div class="form-group form-vertical-blocks">
                        <div class="form-header">Speaking</div>
                        <label for="SPEAKING_ONLY">Speaking
                            Only</label>
                        <input type="checkbox" id="SPEAKING_ONLY" name="speakingamount" value="SPEAKING_ONLY">
                        

                        <div class="form-header ml-4">Resources</div>

                        <label for="printedmaterialsneeded">No printed materials needed</label>
                        <input type="checkbox" id="printedmaterialsneeded" name="printedmaterialsneeded"
                            value="printedmaterialsneeded">

                    </div>

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input
                        type="submit" value="Submit">


                </form>
              </div>



		</div>
	</div>
</body>
</html>



