<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link th:href="@{/css/styles_principal.css}" rel="stylesheet" />


<title>Upgrade</title>
</head>

<body>
	<div th:insert="navbar.html :: nav"></div>

	<div class="main-content">

		<h1 class ="large-header large-header--article">Get lesson plans</h1>

		<div class="lp-container">

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">All 8 levels</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>480 lessons</li>							 
							 <li>Save yourself 800+ hrs of preparation time</li>	
							 <li>280 €</li>	
							 <li>1 year's access</li>	
							 <li><small>Get all subscriptions and extend active subscriptions by 1 year</small></li>							 						 
							 <li><a class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=all">Buy</a></li>
							 			 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">A1</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li>40 €</li>
							 <li th:if="${A1 == null}" th:text="'1 year\'s access'"></li>
							 <li th:if="${A1 != null}" ><small th:text="'Get access until ' + ${A1}"></small></li>
							 <!--  <li th:text="${A1 != null}? 'Access until ' + ${A1}: '1 year\'s access'">1 year's access</li>  -->											 						 
							 <li><a th:text="${A1 != null}? 'Extend' : 'Buy'" class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=A1">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">A2</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li>40 €</li>	
							 
							 <li th:if="${A2 == null}" th:text="'1 year\'s access'"></li>
							 <li th:if="${A2 != null}"><small th:text="'Get access until ' + ${A2}"></small></li>					 					 					 						 
							 <li><a th:text="${A2 != null}? 'Extend' : 'Buy'" class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=A2">Buy</a></li>							 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">B1</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li>40 €</li>
							 <li th:if="${B1 == null}" th:text="'1 year\'s access'"></li>
							 <li th:if="${B1 != null}" ><small th:text="'Get access until ' + ${B1}"></small></li>						 						 
							 <li><a th:text="${B1 != null}? 'Extend' : 'Buy'"  class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=B1">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">B2</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li>40 €</li>	
							  <li th:if="${B2 == null}" th:text="'1 year\'s access'"></li>
							 <li th:if="${B2 != null}"><small th:text="'Get access until ' + ${B2}"></small></li>						 						 
							 <li><a th:text="${B2 != null}? 'Extend' : 'Buy'" class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=B2">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">B2+</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li>40 €</li>	
							 <li th:if="${B2PLUS == null}" th:text="'1 year\'s access'"></li>
							 <li th:if="${B2PLUS != null}"><small th:text="'Get access until ' + ${B2PLUS}"></small></li>						 						 
							 <li><a th:text="${B2PLUS != null}? 'Extend' : 'Buy'" class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=B2PLUS">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">C1</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li>40 €</li>
							 <li th:if="${C1 == null}" th:text="'1 year\'s access'"></li>
							 <li th:if="${C1 != null}" ><small th:text="'Get access until ' + ${C1}"></small></li>							 						 
							 <li><a th:text="${C1 != null}? 'Extend' : 'Buy'" class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=C1">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">C1+</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li>40 €</li>
							 <li th:if="${C1PLUS == null}" th:text="'1 year\'s access'"></li>
							 <li th:if="${C1PLUS != null}" ><small th:text="'Get access until ' + ${C1PLUS}"></small></li>							 						 
							 <li><a th:text="${C1PLUS != null}? 'Extend' : 'Buy'"  class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=C1PLUS">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>

			<div class="card mr-2 mb-2">
				<div class="card__side">
				<h2 class="h2">C2</h2>
					 <div class="card__details">		 
						 <ul>
							 <li>60 lessons</li>							 
							 <li>Save yourself 180 hrs of preparation time</li>	
							 <li>40 €</li>	
							 <li th:if="${C2 == null}" th:text="'1 year\'s access'"></li>
							 <li th:if="${C2 != null}"><small th:text="'Get access until ' + ${C2}"></small></li>							 						 
							 <li><a th:text="${C2 != null}? 'Extend' : 'Buy'"  class="mt-1 ml-auto btn btn--action-tertiary" href="/checkout?id=C2">Buy</a></li>				 
						 </ul>						 
					 </div>
				</div>
			</div>





		</div>

	</div>
</body>

</html>