<div id="insert-section">
  <div class="center-text">
    <h2 class="underline">Warmer</h2>
  </div>
  <p class="mt-2 mb-3 ml-10 mr-10">
    The content of the page will be different for every lesson plan. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eos iure amet
    voluptas, incidunt eaque aspernatur, dolorum veritatis quidem provident
    consequuntur perspiciatis. Est officia quae voluptatem dicta quisquam,
    expedita beatae?
  </p>
  <div class="center-text">
    <h2 class="underline">Vocabulary</h2>
  </div>
  <ul class="mt-2 mb-3 ml-10 mr-10">
    <li>
      <h4>Word</h4>
      <p class="ml-2 mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quae
      </p>
    </li>
    <li>
      <h4>Word</h4>
      <p class="ml-2 mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quae
      </p>
    </li>
    <li>
      <h4>Word</h4>
      <p class="ml-2 mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quae
      </p>
    </li>
    <li>
      <h4>Word</h4>
      <p class="ml-2 mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quae
      </p>
    </li>
    <li>
      <h4>Word</h4>
      <p class="ml-2 mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quae
      </p>
    </li>
    <li>
      <h4>Word</h4>
      <p class="ml-2 mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quae
      </p>
    </li>
    <li>
      <h4>Word</h4>
      <p class="ml-2 mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quae
      </p>
    </li>
    <li>
      <h4>Word</h4>
      <p class="ml-2 mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        dolorum quae
      </p>
    </li>
  </ul>
  <div class="center-text">
    <h2 class="underline">Vocabulary exercise</h2>
  </div>
  <ol class="mt-2 mb-3 ml-10 mr-10">
    <li>
      Lorem ipsum dolor, sit amet consectetur _______________adipisicing elit.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur _______________adipisicing elit.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur _______________adipisicing elit.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur _______________adipisicing elit.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur _______________adipisicing elit.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur _______________adipisicing elit.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur _______________adipisicing elit.
    </li>
    <li>
      Lorem ipsum dolor, sit amet consectetur _______________adipisicing elit.
    </li>
  </ol>

  <div class="center-text">
    <h2 class="underline">Conversation</h2>
  </div>
  <ul class="mt-2 mb-3 ml-10 mr-10">
    <li>Lorem ipsum dolor, sit amet consectetu.</li>
    <li>Lorem ipsum dolor, sit amet consectetu.</li>
    <li>Lorem ipsum dolor, sit amet consectetu.</li>
    <li>Lorem ipsum dolor, sit amet consectetu.</li>
    <li>Lorem ipsum dolor, sit amet consectetu.</li>
    <li>Lorem ipsum dolor, sit amet consectetu.</li>
    <li>Lorem ipsum dolor, sit amet consectetu.</li>
    <li>Lorem ipsum dolor, sit amet consectetu.</li>
  </ul>

  <div class="center-text">
    <h2 class="underline">Plenary</h2>
  </div>
  <p class="mt-2 mb-1 ml-10 mr-10">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus
    voluptatibus vitae ducimus numquam dolores reprehenderit dolor velit
    doloribus a! Voluptatem cum minus reiciendis vel in? Ad provident laudantium
    id. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
    culpa accusamus corrupti ratione adipisci?
  </p>
</div>
