// COLORS

$color-primary: rgb(255, 140, 0);

$color-secondary-light: #0073ff;
$color-secondary-dark: rgb(13, 116, 242);


 $color-grey-light-1: #f7f7f7;
 $color-grey-light-2: #eee;

 $color-grey-dark: #777;
 $color-grey-dark-2: #999;
 $color-grey-dark-3: #333;

 $color-white: #fff;
 $color-black: #000;

 $color-alert: rgb(220, 53, 69);
 $color-success: #28a745;


// // FONT
 $default-font-size: 1.6rem;

